{% extends "base.html" %}

{% block title %}About | jammr{% endblock %}

{% block content %}
            <section class="page_title">
            	<h1>About</h1>
                <h2>Why we launched jammr</h2>
            </section><!-- /.page_title -->

             <section class="full_width">

                <section class="three_fourth content-left">

                	<h2>jammr is the result of what its founders, Stefan and Len, had been thinking for years: “Making music is best enjoyed together.”</h2>

                     <table class="invisible_table">
                     <tr>
                     <td>
                          <section class="team_box">
                            <img src="{{ STATIC_URL }}images/team_man.jpg" alt="image" />
                            <h4>Stefan Hajnoczi</h4>
                            <small>Co-founder</small>
                            <p>The coding wizard behind jammr.<br/>Loves anything open source.</p>
                            <p>Instrument: Fender American Stratocaster</p>
                          </section><!-- /.team_box -->
                      </td>
                     <td>
                          <section class="team_box">
                            <img src="{{ STATIC_URL }}images/team_man.jpg" alt="image" />
                            <h4>Lennard Maronde</h4>
                            <small>Co-founder</small>
                            <p>L’Marketing, C’est Moi...<br/>also loves quoting scenes from “the Other Guys”</p>
                            <p>Instruments: Squire Showmaster Rally Stripe +<br/>Swift Acoustic Bass</p>
                          </section><!-- /.team_box -->
                      </td>
                      </tr></table>

                    <p>Having previously had the luxury of being able to jam together in Len’s parent’s basement, to the likes of Blink 182 and the Red Hot Chili Peppers, even performing “Californication” live at the annual school talent show (all video evidence has unfortunately been destroyed), Stef and Len found it hard to keep making music together when they went off to study at different universities.</p>

                     <p>So, after university, when their instruments had gathered dust and their non-guitar playing fingers had become soft and vulnerable again, the two decided to tackle the issue.</p>

                     <p>The idea was to take music back to its roots and make it social again. Their belief is that the origins of music creation do not date back to people sitting alone in their bedrooms and spending endless hours practicing. Music has and always will be social; whether for writing songs or just as a social occasion.</p>

                     <p>As two hobby musicians without an easy way to enjoy playing with other people, they felt that there was a need to create something to unite musicians.</p>

                     <p>The result is jammr.</p>

                     <p>We hope you enjoy jammr as much as we do. Invite us to join your jams or just send us a mail. We area always interested to hear what you have to say.</p>

                     <p>Stefan &amp; Len</p>
                      <br />

                </section><!-- /.three_fourth content-->

                <section class="one_fourth last">

                 	<section class="widget">
                    	<h3>Join the community!</h3>
                        <p>Meet us on the forum. We love to hear your ideas, help you when you're stuck, and build a great jamming community!</p>
                        <a href="//forum.jammr.net/" class="button orange"><span>Go to Forum</span></a>
                    </section><!-- /.widget -->

                </section><!-- /.one_fourth -->

            </section><!-- /.full_width -->
{% endblock content %}
