{% extends "base.html" %}

{% block title %}Contact | jammr{% endblock %}

{% block content %}
            <section class="page_title">
            	<h1>Contact</h1>
                <h2>Get in touch with us</h2>
            </section><!-- /.page_title -->

             <section class="full_width">

                <section class="three_fourth content-left">

                    <p>Forums (requires account registration):</p>
                    <ul>
                        <li><a href="//forum.jammr.net/8/">General questions</a></li>
                        <li><a href="//forum.jammr.net/1/">Technical support</a></li>
                        <li><a href="//forum.jammr.net/2/">Wishlist and suggestions</a></li>
                    </ul>

                    <p>Social media:</p>
                    <ul>
                        <li><a href="//www.facebook.com/jammrmusic">Facebook</a></li>
                        <li><a href="//www.twitter.com/jammr_music">Twitter</a></li>
                        <li><a href="//www.youtube.com/user/jamtogetheronline">YouTube</a></li>
                    </ul>

                    <p>Email: <a href="mailto:info@jammr.net">info@jammr.net</a></p>

                    <p>jammr ltd is a limited company registered in England and Wales. Company no. 12553014. VAT no. GB347065495. Registered office address: C/O The Accountancy Partnership Suite 1, 5th Floor, City Reach, 5 Greenwich View Place, London, England, E14 9NN.</p>

                </section><!-- /.three_fourth content-->

                <section class="one_fourth last">

                 	<section class="widget">
                    	<h3>Join the community!</h3>
                        <p>Meet us on the forum. We love to hear your ideas, help you when you're stuck, and build a great jamming community!</p>
                        <a href="//forum.jammr.net/" class="button orange"><span>Go to Forum</span></a>
                    </section><!-- /.widget -->

                </section><!-- /.one_fourth -->

            </section><!-- /.full_width -->
{% endblock content %}
