{% extends "base.html" %}

{% block title %}Frequently Asked Questions | jammr{% endblock %}

{% block content %}
<section class="page_title">
<h1>Frequently Asked Questions</h1>
<h2>Got Questions?  We've got answers!</h2>
</section>

<section class="full_width">

<section class="three_fourth content-left">

    <h3>What is jammr?</h3>
    <div>
        <p>jammr is an online service that lets you play music with people around the world.  To find out how it works, visit the <a href="/howitworks.html">How it works</a> page.</p>
    </div>

    <h3>What is jamming?</h3>
    <div>
        <p>During a jam, musicians play without predefined arrangements, they simply improvise.  jammr is designed for improvising together to a chord progression.  Jamming is a great way to explore music with others!</p>
    </div>

    <h3>Who can use jammr?</h3>
    <div>
        <p>Any musician. Whether you are a guitarist, vocalist, drummer, trumpet player, and so on. As long as you have a computer, some type of sound recording device, and an internet connection you will be able to use jammr.</p>
    </div>

    <h3>What level of skill do I need to jam?</h3>
    <div>
        <p>Beginners, intermediate, and expert-level players alike can all jam. The basic skills to participate in a jam session are:</p>
        <ol>
            <li>Being able to stick to a beat</li>
            <li>Knowing basic chords or scales</li>
            <li>Listening to others and a bit of courage to join in!</li>
        </ol>
    </div>

    <h3>What will I need to start jamming?</h3>
    <div>
        <p>An instrument or microphone, a computer, and an internet connection. Simple!</p>
    </div>

    <h3>How do I connect my instrument to my computer to jam?</h3>
    <div>
        <p>If you have ever recorded music with your computer, you probably already have the right setup to use jammr. In case you haven't here are some options:</p>

        <p>Microphone and soundcard: if you are playing an accoustic instrument you need a microphone. Set up the microphone so it captures the sound of your playing and connect it to your computer's sound card. High-quality sound cards are available as USB or Firewire devices but you can try your computer's microphone jack to get started.</p>

        <p>Instrument or effects pedal with USB: some instruments, digital guitar amplifiers, and many multi-effects pedals have a USB port that lets you connect to a computer. This makes it easy to connect without buying a separate sound card.</p>
    </div>

    <h3>How does jammr work?</h3>
    <div>
        <p>You set jammr to match the chord progression and it keeps everyone in sync.  You hear what others played last time around the chord progression, and they hear what you played last time.  Although everyone is playing at the same time, jammr is not actually real-time.</p>
        <p>The best way to understand how jammr works is to imagine you are playing a note and I am playing a G chord.  Your note will sound good over the G chord no matter whether it's the G chord that I'm playing right now or the G chord I played last time around the chord progression.  The harmony will still work and everything will sound right.</p>
    </div>

    <h3>Why is jammr live but not real-time?</h3>
    <div>
        <p>Even an ideal internet connection would have noticeable latency when playing with people around the world.  Therefore, to ensure you can jam with anyone without worrying about latency jammr uses an interval-based jamming system instead.  Most users perceive jammr as real-time because it feels natural!</p>
    </div>

    <h3>How many musicians can jam together in one session?</h3>
    <div>
        <p>Typical jam sessions consist of 2-10 musicians.  Although jammr does
        not impose a limit, eventually the slowest internet connection
        participating in the jam will be unable to keep up if you have large
        numbers of musicians in a single jam.</p>
    </div>

    <h3>Are there any tutorials and guides on getting started?</h3>
    <div>
        <p>Yes, you can find information on the <a href="//forum.jammr.net/1/">Tech Support forum</a>.</p>
    </div>

    <h3>How can I suggest ideas to improve jammr?</h3>
    <div>
        <p>Hop onto the forum and post in the <a href="//forum.jammr.net/2/">wishlist section</a>. We'll respond to you and hope to include the suggestion in a future jammr release.
    </div>

</section><!-- /.three_fourth -->	

<section class="one_fourth last">

<section class="content_box content_box_black">
<div class="inside">
    <h4>More Questions?</h4>
    <p>Ask the community on our forums.  Be sure to search for your question first to see if it has already been answered.</p>
    <a href="//forum.jammr.net/" class="button orange" target="_self"><span>Go to Forum</span></a>
</div>
</section>

</section><!-- /.one_fourth -->

</section><!-- /.full_width -->
{% endblock %}
