{% extends "base.html" %}

{% block title %}Open source | jammr{% endblock %}

{% block content %}
            <section class="page_title">
            	<h1>Open source</h1>
                <h2>How we contribute to open source and you can too</h2>
            </section><!-- /.page_title -->

             <section class="full_width">

                <section class="three_fourth content-left">

                    <h2>We want you to have the freedom to learn, tinker, and extend!</h2>

                    <p>jammr uses the open source development model to create and grow our online jamming platform.</p>

                    <p>jammr is the driving force behind <a href="http://wahjam.org/">Wahjam</a>, the open source online jamming software that powers the jammr client and session server.  All our code for the client and session server is contributed to the community.</p>

                    <p>Both the client and the session server are under the GNU Public License v2 or Later.</p>

                    <p><tt>$ git clone https://github.com/wahjam/wahjam.git</tt></p>

                    <p>The jammr website and backend infrastructure is not open source at this time.</p>

		    <p>For discussions about the client and session server code, join the <a href="https://gitter.im/wahjam/community">gitter.im chat</a> or connect to <a href="https://matrix.to/#/#wahjam_community:gitter.im?utm_source=gitter">#wahjam_community:gitter.im</a> using your Matrix chat client.</p>

                </section><!-- /.three_fourth content-->

                <section class="one_fourth last">

                 	<section class="widget">
                    	<h3>Join the community!</h3>
                        <p>Meet us on the forum. We love to hear your ideas, help you when you're stuck, and build a great jamming community!</p>
                        <a href="//forum.jammr.net/" class="button orange"><span>Go to Forum</span></a>
                    </section><!-- /.widget -->

                </section><!-- /.one_fourth -->

            </section><!-- /.full_width -->
{% endblock content %}
