{% extends "base.html" %}

{% block title %}Terms and Conditions | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Terms and Conditions</h1>
    <h2>Rules for using jammr</h2>
</section><!-- /.page_title -->

<section class="full_width">

    <section class="three_fourth content-left">

        <h2>Rights to music that you play</h2>

        <p>The audio that you send to jammr is broadcast to other users.  This section explains the rights you and other users have to your jams.</p>

        <p>All audio is <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a> licensed, which means:</p>
        <ul>
            <li>Copying and sharing audio is allowed.</li>
            <li>Remixing and sampling audio is allowed.</li>
            <li>Both non-commercial and commercial use is allowed.</li>
        </ul>

        <p>You must not play copyrighted audio that is not compatible with this license over jammr.</p>

        <h2>Rules of Conduct</h2>

        <p>jammr is a community of musicians and music fans.  The following rules must be observed for all interactions, including jamming, forums, chat, and on the website.</p>

        <ol>
            <li>Do not post offensive, obscene, threatening, or illegal content.</li>
            <li>Do not post unsolicited advertising.</li>
            <li>Do not post malicious content such as viruses, exploits, or trojan horses.</li>
            <li>Do not impersonate, mislead, or deceive others.</li>
        </ol>

        <p>Failure to follow these rules may lead to termination of your account.</p>

        <h2>Service Availability</h2>

        <p>We work hard to make jammr available to everyone and at all times.  From time to time jammr may be unavailable due to maintenance or issues beyond our control.</p>

        <p>Account and audio data that we store is resilient to some failures but we do not guarantee data will always be available.</p>

        <p>If a user is abusive or violates these terms, we may delete their account or ban them from using jammr.</p>

        <p>Over time we may add or remove capabilities to the software or website.</p>

        <h2>Beta Testing Phase</h2>

        <p>During the beta testing phase features will be available for free which may become paid features in the future.</p>

        <h2>Limitation of Liability</h2>

        <p>IN NO EVENT WILL jammr BE LIABLE TO YOU FOR ANY LOST PROFITS, LOST SAVINGS OR INCIDENTAL, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES, ARISING OUT OF YOUR USE OR INABILITY TO USE THE PRODUCT OR THE BREACH OF THIS AGREEMENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>

    </section><!-- /.three_fourth content-->

    <section class="one_fourth last">

    </section><!-- /.one_fourth -->

</section><!-- /.full_width -->
{% endblock content %}
