<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    </head>
    <body>
        {% block body %}{% endblock %}
        <br /><br />
        {% block footer %}{% endblock %}
        <p>jammr ltd is a limited company registered in England and Wales.  Company no.
12553014.  Registered office address: C/O The Accountancy Partnership Suite 1,
5th Floor, City Reach, 5 Greenwich View Place, London, England, E14 9NN.</p>
    </body>
</html>
