<p>Hi {{user.username}},</p>

<p>jammr is winding down and the software will cease to work on October 31st
2025.</p>

<p>Earlier this year I shut down the company behind jammr and open sourced
the platform. Several people from the community offered to help keep jammr
going, for which I am grateful. However, we don't have a sustainable path to
keep jammr online so it is time to say goodbye.</p>

<p>Luckily there are alternatives where you can jam for free and I think you
will find the experience very familiar! I recommend installing
<a href="https://github.com/elieserdejesus/JamTaba/releases/tag/v2.1.16">JamTaba</a>,
a popular online jamming client for Mac, Windows, and Linux that is available
standalone or as a plugin. Some of us have been testing JamTaba and it's been a
smooth migration.</p>

<p>If you have recorded jams on jammr because you used to be a jammr Premium
customer, they will no longer be available after October 31st 2025. You can
download them <a href="https://jammr.net/recorded-jams/">here</a>.</p>

<p>Thank you for being part of jammr and all the best!</p>

<p>Stefan, founder of jammr</p>
