<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    </head>
    <body>
        <p>Hi {{user.username}},</p>
        <p>jammr is updating its Privacy Policy on May 25, 2018 with the introduction of the EU General Data Protection Regulation (GDPR).</p>
        <p>You can review the new policy <a href="https://jammr.net/privacy-25052018.html">here</a>.
        <p>If you have any questions, feel free to reply to this email.</p>
        <p>Happy jamming,</p>
        <p>jammr</p>
    </body>
</html>
