{% extends "emails/base.html" %}
{% block body %}
<p>Hi {{user.username}},</p>
<p>Sad news! jammr will shut down on April 30th, 2025. This email explains what will happen and why jammr is shutting down.</p>

<p>After April 30th, 2025 the jammr application and the website, including forum, user account pages, and recorded jams, will cease to operate. It will not be possible to jam using the application anymore.</p>

<p>Premium subscriptions will not be charged after January 31st, 2025. If you had a subscription, your Premium features will remain active for free until shutdown as a thank you for your support.</p>

<p>What steps should I take?</p>
<ul>
    <li>Download any recorded jams you'd like to save from <a href="https://jammr.net/recorded-jams/">here</a> before April 30th, 2025.</li>
    <li>Discuss alternative online jamming platforms where you will migrate with your jamming buddies. You can do this on the <a href="https://forum.jammr.net/">forum</a>, on the <a href="https://discord.gg/xnywFszu">Discord</a>, or in the chat during a jam session.</li>
    <li>After jammr shuts down, uninstall the jammr application from your computer.</li>
</ul>

<p>Why is jammr shutting down?</p>
<p>I've had the pleasure of jamming with some of you for many years and want to express my apologies for disrupting your online jamming and the community that has grown. I started building jammr over 12 years ago and have run it mostly by myself throughout its lifetime. In recent years it's been a struggle to keep on top of the operational tasks while also making progress towards the vision of an online jamming platform that I had in mind all those years ago. Providing the level of service that users deserve requires more time than I have available. Having considered the options, I have decided to shut down jammr in an orderly fashion instead of letting it fall into disrepair.</p>

<p>A heartfelt thank you to you for using jammr!</p>

<p>Stefan, founder at jammr ltd</p>

<p>PS: You can reply to this email if you have any questions.</p>

{% endblock %}

