{% extends "base.html" %}

{% block title %}Activation failed | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Activation processed</h1>
    <h2>Thank you for activating your account</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <p>Please click <a href="{% url 'registration_activation_complete' %}">here</a> to proceed.</p>
        <p>If you encounter issues logging in to jammr, please email <a href="mailto:info@jammr.net">info@jammr.net</a>.</p>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}
