{% extends "base.html" %}

{% block title %}Change password | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Change password</h1>
    <h2>Please enter the details of your new password</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
                <tr><th></th><td><input type="submit" value="Change password"></input></td></tr>
            </table>
        </form>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}
