{% extends "base.html" %}

{% block title %}Password changed successfully | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Password changed successfully</h1>
    <h2>Your password has been updated</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <p>Please click <a href="{% url 'profiles_edit_profile' %}">here</a> to return to your profile.</p>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}

