{% extends "base.html" %}

{% block title %}Password reset successful | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Password reset successful</h1>
    <h2>Please check your email for the password reset link</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <p>An email with a password reset link has been sent to your email address.  Please check your inbox.</p>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}
