{% extends "base.html" %}

{% block title %}Password reset complete | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Password reset complete</h1>
    <h2>Please log in with your new password</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <p>Your password has been changed.  You may now log in with your new password.</p>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}
