{% extends "base.html" %}

{% block title %}Logout | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Logout</h1>
    <h2>You have been logged out</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="two_sixth"></section>
    <section class="two_sixth">
        <p>Thank you for using jammr!  If you logged out by mistake, <a href="/accounts/login/">login again here</a>.</p>
    </section>
    <section class="two_sixth"></section>
</section>
{% endblock content %}
