{% extends "base.html" %}

{% block title %}Registration complete | jammr{% endblock %}

{% block content %}
<section class="page_title">
    <h1>Registration complete</h1>
    <h2>Please activate your account</h2>
</section><!-- /.page_title -->

<section class="full_width">
    <section class="one_fifth"></section>
    <section class="three_fifth">
        <p>Please check your email for an activation link that you need to
        click before you can start using jammr.<p>
        <p>If the email does not appear within a few minutes, please search
        your Spam/Junk folder for email from info@jammr.net.</p>
        <p>You can email <a href="mailto:info@jammr.net">info@jammr.net</a> if
        you need help.</p>
    </section>
    <section class="one_fifth last"></section>
</section>
{% endblock content %}
